@media screen and(min-width:769px) {
	.card {
		display: flex;
		background-color: $darkBlue;
		width: 25vw;
		height: 45vh;
		border-radius: 5%;
		padding: 2%;
		.ratings {
			//first card
			display: flex;
			flex-direction: column;
			h2 {
				font-size: 2vw;
				color: $white;
			}
			article {
				margin: 0;
				font-size: 1.112vw;
				color: $lightGrey;
				line-height: 1.7em;
			}
			img {
				@include cricleSize;
				border-radius: 50%;
				background-color: $mediumGrey;
			}
			.rating {
				@include flexCenter(row);
				margin: auto 0;
				justify-content: space-between;
			}
			.circle {
				@include cricleSize;
				text-align: center;
				background-color: $mediumGrey;
				font-size: 1.112vw;
				line-height: 1.5em;
				border-radius: 50%;
				transition: ease 0.3s;
				color: $lightGrey;
			}
			.circle:hover {
				background-color: $orange;
				color: white;
				cursor: pointer;
			}
			.active {
				background-color: $lightGrey;
				color: $white;
			}
			.submit {
				font-size: 1.112vw;
				// margin: auto 0;
				border-radius: 20px;
				background-color: $orange;
				color: $white;
				padding: 3%;
				text-align: center;
				text-transform: uppercase;
				transition: ease 0.3s;
			}
			.submit:hover {
				background-color: $white;
				color: $orange;
				cursor: pointer;
			}
		}
		.thanks {
			//second card
			@include flexCenter(column);
			display: none;

			img {
				margin: auto 0;
			}
			h2 {
				color: $white;
				font-size: 2vw;
				margin-bottom: 0;
				line-height: 2em;
			}
			article {
				text-align: center;
				font-size: 1.112vw;
				color: $lightGrey;
				line-height: 1.7em;
			}
			.choice {
				color: $orange;
				background-color: $mediumGrey;
				border-radius: 20px;
				padding: 3%;
				text-align: center;
			}
		}
	}
}
