// Colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsla(216, 12%, 54%, 0.103);
$darkBlue: hsla(213, 20%, 18%, 0.753);
$veryDarkBlue: hsl(216, 12%, 8%);